.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    column-gap: 25px;

}

.card {
    background: #616b89;
    margin-bottom: 10px;

    border: 1px solid black;
    border-radius: 12px;
    width: auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 13px;
}
.link a {
    color: white;
    text-decoration: none;

}
.link :hover{
    font-weight: 500;
    -webkit-transition: .2s ease-out;
    -webkit-transition-delay: 1ms;
    -o-transition: .2s ease-out;
    -o-transition-delay: 1ms;
    -moz-transition: .2s ease-out;
    -moz-transition-delay: 1ms;
    transition: .2s ease-out;
    transition-delay: 1ms;
}

