.episode-card {
    width: 400px;
    background: #616b89;

    border-radius: 10px;

    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

.block-of-episodes {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: center;
}
