.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

}

li {
    list-style: none;
}

.page-item {
    margin-left: 10px;
}

.page-link {
    width: 100px;
    font-size: 20px;
    background: #616b89;
    border-radius: 10px;
    color: white;
}

.page-link:hover {
    color: tomato;
    background: #282c34;
    -webkit-transition: .2s ease-out;
    -webkit-transition-delay: 1ms;
    -o-transition: .2s ease-out;
    -o-transition-delay: 1ms;
    -moz-transition: .2s ease-out;
    -moz-transition-delay: 1ms;
    transition: .2s ease-out;
    transition-delay: 1ms;
}

