.wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background: white;
    color: black;
    border-radius: 10px;
}

.wrap a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.wrap a:hover {
    font-size: 25px;
    color: darkblue;

    -webkit-transition: .2s ease-out;
    -webkit-transition-delay: 1ms;
    -o-transition: .2s ease-out;
    -o-transition-delay: 1ms;
    -moz-transition: .2s ease-out;
    -moz-transition-delay: 1ms;
    transition: .2s ease-out;
    transition-delay: 1ms;
}

